.menu {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__link {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        img {
            width: 100%;
        }
    }
}